.hero {
    max-width: 100%;
    width: 1500px;
    flex: 0 1 40%;
    overflow: hidden;
    // height: 40rem;
    max-height: 50%;
    margin-bottom: 4rem;

    >div {
        position: unset !important;
    }

    & .img {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }

}