$color-primary: #006fc3;
$color-primary-ligth: #92B7A9;
$color-secondary: #D52E2D;

$color-danger: #D52E2D;

$color-bc-accent: #E4F6EF;

$color-text: #0c241b;
$color-white: #fff;

$color-text-light: rgb(88, 88, 88);

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}